body {
	min-width: 30em;
}
#header {
	text-align: center;
}
#header > * {
	display: inline-block;
	vertical-align: top;
	float: none;
}
#searchfield {
	line-height: 3em;
}
#searchfield input {
	background-image: url(Icons/search.png);
	background-repeat: no-repeat;
	padding-left: 17px;
	border: 1px solid #CCCCCC;
	margin-left: 2em;
	width: 12em;
}
#example .priceL, #example .priceR {
	width: auto;
}
.product {
	border: 0px solid #F5F5F5;
	float: left;
	margin: 1px 10px;
}
.nohighlight {
	opacity: 0.1;
}
.priceL, .priceR {
	float: left;
	height: 3em;
	line-height: 1.5em;
	white-space: nowrap;
}
.priceL {
	text-align: right;
}
.priceR {
	text-align: left;
}
.icon {
	float: left;
	width: 32px;
	line-height: 3em;
	margin: 0 3px;
}
.icon > img {
	vertical-align: middle;
	width: 32px;
	height: 32px;
}
.product span {
	color: gray;
}
.spacer {
	clear: left;
	height: 1.2em;
}

@media screen and (max-width: 800px) {
	.nohighlight {
		display: none;
	}
	
	body {
		margin: 0
	}
	
	.product {
		margin: 1px 0;
	}
}

@media screen and (max-width: 300px) {
	body {
		min-width: 17em;
	}
}
