body {
	font-family: sans-serif;
}
#header {
	text-align: center;
}
#header > * {
	display: inline-block;
	vertical-align: top;
	float: none;
}
#header > form {
	line-height: 3em;
}
#searchfield {
	line-height: 3em;
	margin-left: 1.1em;
}
#searchfield > * {
	display: inline-block;
	vertical-align: middle;
}
#searchfield input {
	background-image: url(Icons/magnifier-icon.png);
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 18px;
	border: 1px solid #CCCCCC;
	width: 12em;
	margin-left: 0.3em;
}
#example .priceL, #example .priceR {
	width: auto;
}

#shoppinglist {
	width: 80%;
	margin: 0 auto;
}
#shoppinglist h1 {
	font-size: 120%;
}
#shoppinglist .list {
	display: none;
}
#shoppinglist .list > table {
	width: 100%;
}
#shoppinglist .list > table td {
	vertical-align: top;
}
#shoppinglist caption {
	text-align: left;
	font-size: 110%;
}
#shoppinglist table {
	text-align: center;
	border-collapse: collapse;
}
#shoppinglist th {
	min-width: 3em;
}
#shoppinglist tr+tr td {
	border-top: 1px solid grey;
}
#shoppinglist .space {
	width: 1em;
}
#shoppinglist div.subtotal {
	border-top: 1px solid black;
	padding-left: 1em;
	margin: 1em 0;
}
#shoppinglist tr.subtotal > td{
	padding-left: 1em;
	text-align: left;
}
#shoppinglist .total {
	border-top: 3px solid black;
	font-weight: bold;
	padding-left: 1em;
}

#shops {
	text-align: center;
}
#shops > div {
	display: inline-block;
	padding: 0.5em 2em;
	margin: 0.5em 1em;
	color: white;
	background-color: #0080FF;
	border-radius: 5px;
	box-shadow: 5px 5px 10px 5px black;
	cursor: pointer;
	transition: box-shadow, background-color 0.25s ease;
	-moz-transition: box-shadow, background-color 0.25s ease;
	-o-transition: box-shadow, background-color 0.25s ease;
	-webkit-transition: box-shadow, background-color 0.25s ease;
}
#shops > div:hover {
	background-color: #0067B0;
}
#shops > div.selected {
	background-color: #005880;
	box-shadow: 2px 2px 5px 0 black;
}

.relative {
	position: relative;
}
.hideItems .product:not(.selected) {
	display: none;
}
.product {
	border: 0px solid #F5F5F5;
	float: left;
	margin: 1px 10px;
}
.faded, .nohighlight {
	opacity: 0.1;
}
.notfaded {
	cursor: pointer;
}
.priceL, .priceR {
	float: left;
	height: 3em;
	line-height: 1.5em;
	white-space: nowrap;
}
.priceL {
	text-align: right;
}
.priceR {
	text-align: left;
}
.icon {
    float: left;
    line-height: 3em;
}
.icon16 {
    width:16px;
}
.icon {
	width: 32px;
	margin: 0 3px;
}
.icon16 > img, .icon > img {
	vertical-align: middle;
}
.icon16 > img {
    width: 16px;
    height: 16px;
}
.icon > img {
	width: 32px;
	height: 32px;
}
.product span {
	color: gray;
}

.infobox {
	position: absolute;
	background-color: rgba(180, 180, 180, 0.8);
	border-radius: 5px;
	padding: 1em;
}
.infobox h1 {
	font-size: 100%;
	margin: 0;
}
.infobox .sim {
	display: none;
}
.infobox .price {
	display: none;
	font-weight: bold;
	text-align: right;
	border-top: 3px solid black;
}

hr.spacer {
	clear: left;
	height: 1.2em;
	border: none;
	border-bottom: 1px solid #D3D3DE;
}

@media screen and (max-width: 800px) {
	.nohighlight {
		display: none;
	}
	
	body {
		margin: 0
	}
	
	.product {
		margin: 1px 0;
	}
}
